*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: https://i.pinimg.com/originals/75/7b/0c/757b0cd634697b72cb377e1a2a2964ac.gif;

}
.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    
    animation: pipe-animation 2s infinite linear;

}
 .mario{
    width: 150px;
    position: absolute;
    bottom: 0;
   
} 

.jump{
    animation: jump 700ms ease-out;
}
.nuvem{
    width: 300px;
    position: absolute;
    animation: nuvem 8s infinite linear;
}

.nuvem2{
    width: 270px;
    position: absolute;
    animation: nuvem2 7s infinite linear;
}
.nuvem3{
    width: 220px;
    position: absolute;
    animation: nuvem2 6s infinite linear;
}
.video{
width: 100px;
opacity: 20%;


}

/* O @keyframe e usado para criar animaçoes 
podendo usar o from como partida da animaçao
e to com final dela */
@keyframes pipe-animation{
    from {
        right: 0;
    }

    to {
        right: 100%;
    }

}
/* tambem no frame pode ser utilizado o % para
terminar o estagio da animaçao como 50% representaque
esta no meio */

 @keyframes jump{

 0% {
    bottom: 0;
 }

 40%{ 
    bottom: 180px;
 }

 50%{ 
    bottom: 180px;
 }

 60%{ 
    bottom: 180px;
 }

 100% {
    bottom: 0px;
 }

} 



@keyframes nuvem{

    from{
        right: 10%;
    }


    to{
        right: 100%;
    }

}
@keyframes nuvem2{

    from{
        right: 0;
    }


    to{
        right: 100%;
    }

}
@keyframes nuvem3{

    from{
        right: 26;
    }


    to{
        right: 100%;
    }

}